name: Scala CI

on:
  workflow_dispatch:
  repository_dispatch:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '* * * * *'

jobs:
  job1:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Run tests
        run: sbt test
  job2:
    name: ping-pong
    runs-on: ubuntu-latest
    steps:
      - name: Event Information
        run: |
           echo "Event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'"
      - name: PONG - Dispatch response to received PING
        if: github.event.action == 'ping'
        run: |
          curl -X POST https://api.github.com/repos/sakshigawande12/spring-unit-testing-with-junit-and-mockito-master/dispatches \
           -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{ secrets.ACCESS_TOKEN }} \
           --data '{"event_type": "pong", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
